# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.log
db.sqlite3
staticfiles/
media/
.venv/
venv/
env/

# Node / React
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
